/images
/yolo_models
/config
/yolov5-env
/yolov9-env
/yolov11-env
/resnet18-env
/dinov3-env
/weights
/data/datasets
/scripts/gaussian_heatmap_resnet/dataset*
/scripts/gaussian_heatmap_resnet/orthomosaic_dataset
/scripts/gaussian_heatmap_resnet/heatmap_masks_from_yolo_labels
/scripts/gaussian_heatmap_resnet/heatmap_masks_from_yolo_labels_and_gps_labels
/scripts/gaussian_heatmap_resnet/models/
/scripts/gaussian_heatmap_resnet/results*
/scripts/gaussian_heatmap_resnet/resnext/results*
/scripts/gaussian_heatmap_resnet/dinov3/results*
/scripts/roboflow_scripts/__pycache__*
/data/riseholme
/data/jojo
/data/coolhurst

*.pyc
*.jpg
*.JPG
*.png
*.PNG
*.pth
*.PTH
*.pt
*.PH

/scripts/gaussian_heatmap_resnet/gaussian_heatmap_hybrid/inference_results/hybrid_test
/scripts/generate_topo_map/cache
